body{
    background-image: url(src/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 18px;
}


#logo{
    width: 3em;
}
#cim{
    background-color: rgba(36, 36, 36, 0.8);
    vertical-align: bottom;
    padding: 2em;
    border-radius: 1em;
    width: fit-content;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}
.lead{
    font-size: 2rem;
    line-height: 1em;
}

#etlap{
    padding-right: 2em;
}